.post {
  width: 750px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
  word-wrap: break-word;
}
.postgrid {
  margin-top: 50px;
}

.postTitle {
  font-size: 36px;
  padding-bottom: 220px;
  height: 250px;
}

.postDate {
  padding-bottom: 20px;
  font-size: 16px;
}

.postImage {
  width: 750px;
  height: 450px;
  overflow: hidden;
}

@media screen and (max-width: 1600px) {
  .postImage {
    width: 700px;
    height: 420px;
  }
}

@media screen and (max-width: 1500px) {
  .postImage {
    width: 600px;
    height: 360px;
  }
  .postTitle {
    font-size: 30px;
    height: 200px;
  }
  .post {
    width: 600px;
  }
}

@media screen and (max-width: 670px) {
  .postImage {
    width: 500px;
    height: 360px;
  }
  .postTitle {
    font-size: 25px;
    height: 150px;
  }
  .post {
    width: 500px;
  }
}

@media screen and (max-width: 585px) {
  .postImage {
    width: 400px;
    height: 300px;
  }
  .postTitle {
    font-size: 22px;
    height: 150px;
  }
  .post {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .postImage {
    width: 330px;
    height: 200px;
  }
  .postTitle {
    font-size: 21px;
    height: 40px;
  }
  .post {
    width: 330px;
  }
}

@media screen and (max-width: 415px) {
  .postImage {
    width: 230px;
    height: 170px;
  }
  .postTitle {
    font-size: 20px;
    height: 100px;
  }
  .post {
    width: 230px;
  }
}
